# Backend
backend/.env
backend/serviceAccountKey.json
backend/__pycache__/
backend/**/__pycache__/
backend/**/**/__pycache__/
backend/.venv/
backend/venv/
backend/*.pyc

# Frontend
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/*.iml
frontend/.idea/
frontend/.metadata
frontend/pubspec.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
